.blue-button {
	background-color: transparent;
	color: var(--pico-primary);
}
.red-button {
	background-color: transparent;
	color: rgb(238, 64, 46);
	border-color: rgb(238, 64, 46);
}
.red-button > * {
	color: rgb(238, 64, 46);
}
.red-button:hover > * {
	color: white;
}
.red-button:hover {
	background-color: rgb(238, 64, 46);
	color: white;
}
.blue-button:hover {
	background-color: var(--pico-primary);
	color: white;
}
.link {
	text-decoration: none;
	color: var(--pico-primary);
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
	font-size: 16px;
	padding: 10px 10px !important;
}
select,
input[type='text'],
input[type='email'],
input[type='password'] {
	height: 50px;
}
input[type='radio'] {
	width: 20px;
	height: 20px;
}
input[type='checkbox'] {
	width: 20px;
	height: 20px;
}
.button-success {
	background-color: rgb(71, 164, 23);
	border-color: rgb(71, 164, 23);
	transition: all 0.3s;
}
.button-success:hover {
	background-color: rgb(64, 150, 20);
	border-color: rgb(64, 150, 20);
	transition: all 0.3s;
}
.button-error {
	background-color: rgb(238, 64, 46);
	border-color: rgb(238, 64, 46);
	transition: all 0.3s;
}
.button-error:hover {
	background-color: rgb(134, 29, 19);
	border-color: rgb(134, 29, 19);
	transition: all 0.3s;
}
.icon-button2 {
	width: fit-content;
	height: fit-content;
	padding: 0;
	background-color: unset;
	border: unset;
}
.icon-button {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-button > svg {
	width: 30px;
	height: 30px;
	color: var(--pico-primary);
}
.icon-button_close,
.icon-button_close > svg {
	transition: all 0.5s ease-in-out;
}
.icon-button_close:hover > svg {
	transform: rotate(180deg);
	color: white;
}
.icon-button_close:hover {
	background-color: var(--pico-primary);
	border-radius: 50%;
}
.icon {
	width: 30px;
	height: 30px;
}
.bare_button {
	background-color: unset;
	color: var(--pico-primary);
	border: none;
}
.bare_button:hover {
	color: var(--pico-primary-hover);
}

.bare_button-error {
	color: rgb(238, 64, 46);
	transition: all 0.3s;
}
.bare_button-error:hover {
	color: rgb(134, 29, 19);
	transition: all 0.3s;
}
